body{
    background-color: #FAFAFA;
    margin: 0;
}
nav {
    background-color: #FFF;
    height: 13.3em;
    padding: 0 13.5em;
    border-bottom: 0.1px solid #dbdbdb;
}
.logo {
    text-decoration: none;
}
.logo>img {
    vertical-align: middle;
}
.search {
    background: #FAFAFA;
    margin-left: 19em;
    height: 1.9em;
    width:16em;
    border: 1px solid #dbdbdb;
}
 .search::placeholder {
    text-align: center;
    color: #bb9caa;
}

.nav-links {
    margin-left: 8em;
}
.nav-links>a {
    margin-left: 1.5em;
}
.nav-links i {
    transform: scale(1.6);
    color: #252525;
    vertical-align: middle;
}
.cont {
    padding: 0.18%;
}
.bio {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 10em;
    padding: 3em 0 0 5em;
    border-bottom: 0.5px solid #dbdbdb;
}
.profile-photo {
    background-color: black;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}
.profile-photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-info .username {
    font-size: 1.7em;
    color: #545454;
}
.profile-info button {
    background-color: #0095f6;
    color: #FFFF;
    font-size: 1.1em;
    width: 7em;
    height: 2em;
    border: unset;
    cursor: pointer;
}